.Content {
  display: grid;
  height: 100%;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: 'list details';
  text-align: center;
  border: 2px solid rgb(255, 60, 0);
}
.container h3 {
  margin-top:0.5%;
}

.list {
  grid-area: list;
  height:76vh;
  overflow-y: scroll;
  margin: 0;
  border: 1px solid rgb(200, 80, 0);
  background-color: rgba(200, 80, 0, 0.2);
}


.list li {
  border: 1px solid rgb(200, 80, 0);
  height: 100%;
  font-size: 0.7em;
  margin: 2%;
}
.list a {
  margin-top:3px;
}
.list p {
  font-size: 0.8em;
}

.list a:link {
  text-decoration: none;

}

.details {
  grid-area: details;
  margin: 0;
  border: 1px solid rgb(236, 155, 6);
  background-color: rgba(236, 155, 6, 0.2);
}
