#N {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
#N:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#dropdown {
  background-color: white;
  padding: 0px;
  background: white;
  overflow: hidden;
}
#dropdown.dropdown-toggle.btn.btn-primary {
  border-radius: 50%;
  border-color: white;

}

.dropdown-item {
  margin-left: -3%;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
