#N {
  border-radius: 50%;
  padding:2%;
  width: 45%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
#N:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer
}

.dropdown {
    position:absolute;
    display: block;
    width:50%;
    height: 15%;
    background-color: white;
    padding: 2px;
    padding-top: 4px;
    background: white;
}


#dropdownMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right:0px;
    width: 100%;
    background-color: white;
    font-weight:bold;
    position: relative;
    z-index: 1;
}
#dropdown-list a {
    color: #000;
    text-decoration: none;
    padding-left: 20%; 
    padding-right: 20%; 
}
#dropdown-list {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    border: 1px solid #e5e5e5;
}
#dropdown-list:last-child {
    border-bottom: none;
}

#dropdown-list:hover {
    background-color: #e5e5e5;
    color: white;
}


