.App {
  display: grid;
  grid-template-rows: 1fr 9fr 0.5fr;
  grid-template-areas: 'header' 'main' 'footer';
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* background-color: red */
}
.Header{
  grid-area: header;
}
.main {
  grid-area: main;
  height:100hv;
  background-color: rgba(200, 73, 0, 0.2);
}

.footer {
  grid-area: footer;
  height:100hv;
  border: 2px solid rgb(90, 200, 0);
  background-color: rgba(90, 200, 0, 0.2);
}
li {
  list-style-type: none;
}

h2 {
  font-family: 'Abel', sans-serif;
}
h3 {
  font-family: 'Abel', sans-serif;
}

p {
  font-family: 'EB Garamond', serif;
}

button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px
}